@font-face {
  font-family: "iconfont";
  /* Project id 2509795 */
  src: url('//at.alicdn.com/t/font_2509795_qmybiqktmse.woff2?t=1634003061520') format('woff2'),
    url('//at.alicdn.com/t/font_2509795_qmybiqktmse.woff?t=1634003061520') format('woff'),
    url('//at.alicdn.com/t/font_2509795_qmybiqktmse.ttf?t=1634003061520') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconZIP:before {
  content: "\e6f4";
}

.iconmp3-1:before {
  content: "\e6f3";
}

.iconJPG:before {
  content: "\e6eb";
}

.iconPDF:before {
  content: "\e6ec";
}

.iconXLS:before {
  content: "\e6ed";
}

.iconmp4-1:before {
  content: "\e6ee";
}

.iconzip-1:before {
  content: "\e6ef";
}

.iconword-1:before {
  content: "\e6f0";
}

.icontxt-1:before {
  content: "\e6f2";
}

.icontixian:before {
  content: "\e6e2";
}

.iconAPPBuilder-DMB:before {
  content: "\e633";
}

.iconfenxi:before {
  content: "\e604";
}

.iconfenxi1:before {
  content: "\e659";
}

.iconguanli:before {
  content: "\e731";
}

.iconguanggao:before {
  content: "\e607";
}

.iconjichushezhi:before {
  content: "\e6f1";
}

.iconshouqi:before {
  content: "\e697";
}

.iconyanzhengma:before {
  content: "\e623";
}

.iconzhanghao:before {
  content: "\e666";
}

.iconmima:before {
  content: "\e68e";
}

.icondelete01:before {
  content: "\e729";
}

.iconshanchu:before {
  content: "\e696";
}

.iconxiala:before {
  content: "\e627";
}

.iconbianji:before {
  content: "\e609";
}

.iconchakan:before {
  content: "\e63f";
}

.iconsearch:before {
  content: "\e616";
}

.icondelete:before {
  content: "\e635";
}

.iconiconfont4316:before {
  content: "\e637";
}

.iconiconfontpaixingbang:before {
  content: "\e639";
}

.iconbofang:before {
  content: "\e606";
}

.iconshuju:before {
  content: "\e63e";
}

.iconupper:before {
  content: "\e617";
}

.iconlower:before {
  content: "\e618";
}

.iconfuzhilianjie:before {
  content: "\e60a";
}

.iconadd:before {
  content: "\e61e";
}

.iconjinru:before {
  content: "\e657";
}

.iconcuowu:before {
  content: "\e622";
}

.icontishi:before {
  content: "\e661";
}

.iconjiantou:before {
  content: "\e669";
}

.iconyouxiang:before {
  content: "\e678";
}

.iconcaidan:before {
  content: "\e60f";
}

.iconkejian:before {
  content: "\e626";
}

.iconwenjianjia:before {
  content: "\e80c";
}

.iconrefresh:before {
  content: "\e60b";
}

.iconshezhi:before {
  content: "\e673";
}

.iconmeitiziyuanku:before {
  content: "\e605";
}

.iconzhanghu:before {
  content: "\e64b";
}

.iconmima1:before {
  content: "\e64c";
}

.iconanzhuo1:before {
  content: "\e652";
}

.iconios1:before {
  content: "\e653";
}

.iconfuzhi:before {
  content: "\e656";
}

.iconguanbi:before {
  content: "\e658";
}

.iconmianbaoxiedaohang:before {
  content: "\e65a";
}

.iconxingxing-man:before {
  content: "\e65e";
}

.iconxingxing-kong:before {
  content: "\e65f";
}

.iconliebiaomoshi:before {
  content: "\e660";
}

.icontupianmoshi:before {
  content: "\e662";
}

.iconzhankaicaidanlan:before {
  content: "\e663";
}

.iconshouqicaidanlan:before {
  content: "\e664";
}

.iconjiazaizhong:before {
  content: "\e665";
}

.iconxinxiguanli:before {
  content: "\e667";
}

.iconshangchuantupian:before {
  content: "\e668";
}
